<div ng-controller="toDoController">

    <p>To Do App</p>
    
    <p>Total Todos: {{totalTodos}}</p>
    
    <ul>
        <li ng-repeat="todo in todoes">
            <input ng-model="todo.Done" type="checkbox" name="name" value=" " />
            <span>{{todo.Text}}</span>
            <span ng-click="removeTodo($index, todo)" class="glyphicon glyphicon-remove"></span>
        </li>
    </ul>
    
    <form action="/" method="post">
        <input type="text" ng-model= "formNewTodoTask" />
        <input type="button" class="btn-success" name="Submit" ng-click="addTodo()" value="Sumbit" />
        <p class="text-warning" ng-show="ShowErrorMessage == true">Please enter a name</p>
    </form>
</div>