<div ng-controller="toDoController">

    <p>To Do App</p>
    
    <p>Total Todos: {{totalTodos}}</p>
    
    <ul>
        <li ng-repeat="todo in todoes">
            <input ng-model="todo.done" type="checkbox" name="name" value=" " />
            <span>{{todo.Text}}</span>
        </li>
    </ul>
    
    <form action="/" method="post">
        <input type="text" ng-model= "formNewTodoTask" />
        <input type="button" name="Submit" ng-click="addTodo()" value="Sumbit" />
    </form>


</div>